*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--main-color: #668cff;
}
html,
body {
	min-height: 100vh;
	font-size: 16px;
	scroll-behavior: smooth;
	-webkit-tap-highlight-color: transparent;
	font-family: "Roboto", sans-serif;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	appearance: textfield;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
#root,
#__next {
	isolation: isolate;
}

a,
a:link,
a:visited {
	text-decoration: none;
	cursor: pointer;
}
body {
	background-color: #668cff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
